* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Microsoft JhengHei', 'PT Sans', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(61, 146, 201);
}

a:hover,
a:focus {
  text-decoration: underline;
}

h3 {
  font-weight: 100;
}

/* LAYOUT CSS */

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

#layout {
  padding: 0;
}

.header {
  text-align: center;
  top: auto;
  margin: 3em auto;
}

.sidebar {
  /* background: #383838; */
  background-color: rgb(15, 37, 64);
  color: #fff;
}

.brand-title,
.brand-tagline {
  margin: 0;
}

.brand-title {
  /* text-transform: uppercase; */
  font-weight: 500;
}

.brand-tagline {
  font-weight: 100;
  color: #ccc;
  font-size: 18px;
}

.brand-tagline span {
  display: block;
  margin: 18px 0;
}

.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.nav-item a {
  background: transparent;
  border: 2px solid rgb(176, 202, 219);
  color: #fff;
  margin-top: 1em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 85%;
}

.nav-item a:hover,
.nav-item a:focus {
  border: 2px solid rgb(61, 146, 201);
  text-decoration: none;
}

.content-subhead {
  text-transform: uppercase;
  color: #aaa;
  border-bottom: 1px solid #eee;
  padding: 0.4em 0;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.content {
  padding: 2em 1em 0;
}

.post {
  padding-bottom: 2em;
}

.post-title {
  font-size: 2em;
  color: #222;
  margin-bottom: 0.2em;
  text-align: left;
}

.post-avatar {
  border-radius: 50px;
  float: right;
  margin-left: 1em;
}

.post-description {
  font-family: Georgia, 'Cambria', serif;
  color: #444;
  line-height: 1.8em;
}

.post-meta {
  color: #999;
  font-size: 90%;
  margin: 0;
}

.post-category {
  margin: 0 0.1em;
  padding: 0.3em 1em;
  color: #fff;
  background: #999;
  font-size: 85%;
  border-radius: 5px;
}

.post-category-css {
  background: #4d85d1;
}

.post-category-html {
  background: #f15856;
}

.post-category-bs {
  background: #8a5bd3;
}

.post-category-js {
  background: #fade34;
  color: #666;
}

.post-images {
  margin: 1em 0;
}

.post-image-meta {
  margin-top: -3.5em;
  margin-left: 1em;
  color: #fff;
  text-shadow: 0 1px 1px #333;
}

.footer {
  padding: 1em 0;
}

.footer a {
  color: #ccc;
  font-size: 80%;
}

.footer .pure-menu a:hover,
.footer .pure-menu a:focus {
  background: none;
}

/*============*/

.brand-title a {
  text-decoration: none;
  color: #fff;
}

.post-meta {
  text-align: left;
}

.hexagon {
  width: 100px;
  height: 55px;
  /* background: red; */
  margin: 100px auto;
  position: relative;
  background-image: url(../../../img/40.jpg);
  background-size: cover;
  background-position: center center;
}

.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}

.hexagon:before {
  top: -25px;
  left: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid red;
}

.hexagon:after {
  bottom: -25px;
  left: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid green;
}

.post-header {
  text-align: center;
  /* width: 150px;
  height: 150px; */
}

.post-header img {
  width: 100%;
  height: 100%;
  /* outline: 1px solid red; */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  background-image: url(../img/40.jpg);
  background-size: cover;
  background-position: center center;
}

.fab,
.fas {
  font-size: 30px;
  margin: 8px 10px;
}

.skill ul {
  width: 450px;
  margin: 10px auto;
  padding: 0px;
}

.skill li {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  /* border-right: 1px solid orange; */
}

@media (min-width: 48em) {
  .content {
    padding: 2em 3em 0;
    margin-left: 25%;
  }
  .header {
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    left: 1rem;
    text-align: left;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .footer {
    text-align: center;
  }
}
